region.wavesurfer-region:before {
    content: attr(data-region-label);
}

region.wavesurfer-region[data-region-highlight] {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

textarea {
    resize: none;
}