.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
}		
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}	
.card-container {
    flex: 1;
    padding: 2px 16px;
}