body{
	background-color:rgb(221,221,221); 
	position: relative; 
	margin: 0; 
	height:80%; 
	min-height:40%;
}

.pointer { cursor: pointer; cursor: hand;} 
 
.botao {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

textarea {
    resize: none;
    max-width: 100%;
}