table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; text-align: center; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
 
tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 15%;
    float: left;
}